/*codeminer/frontend_codeminer/src/stylus/navigation.module.css*/
.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 2rem auto;
}

.navButton {
    padding: 0.2rem 0.3rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #787878;
    color: white;
    font-size: medium;
    cursor: pointer;
    transition: ease 0.3s;
}

.navButton:hover {
    background-color: #717171;
    transition: ease 0.3s;
}